/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    background-color: #f4f4f4;
    padding: 0px;
}

/* Sidebar Styles */
.sidebar {
    width: 250px;
    background-color: #000066;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.sidebar-logo {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: left;
}

.sidebar nav ul {
    list-style: none;
    padding-left: 0;
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

table th, table td {
    padding: 12px 15px;
    text-align: left;
    border: 1px solid #ddd;
}

table th {
    background-color: #007bff;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

td:hover {
    background-color: #aaaaff;
}

.nav-btn:hover {
    background-color: #8080ff;
}
.status {
    padding: 5px 10px;
    border-radius: 12px;
    color: white;
    font-weight: bold;
    font-size: 12px;
}

.status.prosess {
    background-color: #ffc107;
}

.status.success {
    background-color: #28a745;
}

.status.pending {
    background-color: #dc3545;
}

/* Form Styles */
.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

input[type="text"], input[type="number"], input[type="date"], select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="text"]:focus, input[type="number"]:focus, input[type="date"]:focus, select:focus {
    border-color: #007bff;
    outline: none;
}

button.btn {
    display: block;
    width: 100%;
    background-color: #007bff;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s;
}

button.btn:hover {
    background-color: #0056b3;
}

/* Card Styles */
.card {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    max-width: 500px;
    width: 100%;
    box-sizing: border-box;
}

.card h2 {
    margin-top: 0;
    font-size: 24px;
    color: #333;
    text-align: center;
}

/* Responsive Design */
@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
    }

    .main-content {
        padding: 10px;
    }

    .chart-section, .chart-grid {
        text-align: center;
    }

    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    table th, table td {
        padding: 10px 8px;
    }
}
